* {
  box-sizing: border-box;
}

header {
  background-color: #444444
}
header img {
  width: 100px;
  padding: 15px;
  margin-left: 30px;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

header button {
  padding: 20px;
  line-height: 10px;
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 20px;
  font-size: large;
  border-radius: 20px;
  border: solid 3px;
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: 2px 2px 20px 2px #000000;
  color: #444444;
  font-family: 'Aldrich', sans-serif;
  font-weight: 700;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

nav {
    background-color: #EA3C53;
    padding: 5px, 20px;
    box-shadow: 0 3px 3px -2px #000000;
    display: block;
}

nav li {
    color: #ffffff;
    font-family: 'Aldrich', sans-serif;
    display: block;


}